<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432751363164-snr639oohha4vuck3fmug6ak41239kns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432751363164-snr639oohha4vuck3fmug6ak41239kns</string>
	<key>API_KEY</key>
	<string>AIzaSyBwSkQifIzgoHUl7Q4L6rHX9DHTFPFghQc</string>
	<key>GCM_SENDER_ID</key>
	<string>432751363164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryan.rhaenyra</string>
	<key>PROJECT_ID</key>
	<string>iykyk-2901e</string>
	<key>STORAGE_BUCKET</key>
	<string>iykyk-2901e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432751363164:ios:40e6200451aaf1370f1299</string>
</dict>
</plist>